@model IEnumerable<KLFBlog.Models.ProjectViewModel>
@{
    ViewBag.Title = "Projects";
}

<div class="blog br-white black">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!-- Posts -->
                <div class="posts">
                    @foreach (KLFBlog.Models.ProjectViewModel Project in Model)
                    {
                        @Html.Partial("_Posts", Project)
                    }
                </div>
            </div>
            @Html.Partial("_SideBarProject")
        </div>
    </div>
</div>
