<link href="~/Content/bootstrap-social.css" rel="stylesheet">

<div class="features br-lblue block">
    <!-- Container -->
    <div class="container">
        <!-- Page Title -->
        <div class="page-title text-center">
            <h2>Kyle L Frisbie</h2>
            <h3><strong>Software</strong> <strong>Developer</strong></h3>
        </div>

        <!-- Feature One -->

        <div class="feature-one">
            <!-- Feature One Item -->
            <div class="feature-one-item">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Feature One Image -->
                        <div class="feature-one-image animated">
                            <!-- Image -->
                            <img src="https://lh3.googleusercontent.com/SeXuENfkI-b1MmSubw7OWBX2waSRSI7R9Yn-GWjhno0=w965-h891-no" alt="" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Feature One Content -->
                        <div class="feature-one-content animated">
                            <!-- Heading -->
                            <h3>About <strong>Me</strong></h3>
                            <!-- Paragraph -->
                            <p>
                                Hey! I'm Kyle, an aspiring software developer trying to find my place in this computer world. I am currently perusing my degree in Computer Science from Metropolitan State University of Denver.
                                With a little ambition, some independent study, and a vigor for the industry, I'll be honing my skills through developing various Projects. Check out my blog to stay current on what I’m doing.
                                Check out my project repos on <a href="https://github.com/KyleFrisbie"><strong>GitHub</strong></a> and check back in to see the cool new things I've been working on as I forge my path from apprentice to master.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Ends -->