<div class="service br-black text-center block">
    <!-- Container -->
    <div class="container">
        <!-- Page Title -->
        <div class="page-title">
            <!-- Header -->
            <h2>Service Type</h2>
            <h3><strong>Web</strong> Development <strong>& Apps</strong> Development</h3>
            <div class="service-three">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- Service Item -->
                        <div class="service-three-item">
                            <!-- Header -->
                            <div class="service-three-head br-red">
                                <!-- Top Icon -->
                                <a href="#" class="service-icon-top"> <i class="fa fa-gift"></i> </a>
                                <!-- Bottom Icon -->
                                <a href="~/BlogPosts/Posts" class="service-icon-bottom"> <i class="fa fa-cog"></i> </a>
                            </div>
                            <!-- Paragraph -->
                            <div class="service-three-body br-white black">
                                <!-- Header -->
                                <h3>Blog Posts</h3>
                                <!-- Paragraph -->
                                <p>Stay current on what I'm up to!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Service Three Item -->
                        <div class="service-three-item">
                            <div class="service-three-head br-green">
                                <a href="#" class="service-icon-top"> <i class="fa fa-cloud-upload"></i> </a>
                                <a href="~/Projects/Posts" class="service-icon-bottom"> <i class="fa fa-flask"></i> </a>
                            </div>
                            <div class="service-three-body br-white black">
                                <h3>Projects</h3>
                                <p>Check out what I'm working on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- Service Three Item -->
                        <div class="service-three-item">
                            <div class="service-three-head br-lblue">
                                <a href="#" class="service-icon-top"> <i class="fa fa-user"></i> </a>
                                <a href="~/Home/About" class="service-icon-bottom"> <i class="fa fa-envelope"></i> </a>
                            </div>
                            <div class="service-three-body br-white black">
                                <h3>About Me</h3>
                                <p>Learn more about who I am.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>