@{
    ViewBag.Title = "Home Page";
}


// Use bootstrap theme to display links to these pages

<li>@Html.ActionLink("BlogPosts", "Posts", "BlogPosts")</li>
<li>@Html.ActionLink("Projects", "Posts", "Projects")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>