@model KLFBlog.Models.BlogPostViewModel

<div class="entry">
    <h2>@Html.ActionLink(Model.Title, "Posts", "BlogPosts", new { id = Model.Id }, null)</h2>
    <!-- Meta Deatils -->
    @if (Model.Id % 2 == 0)
    {
        <div class="meta br-green">
            <i class="fa fa-calendar-o"></i> @Html.DisplayFor(modelItem => Model.Date) <span class="pull-right"></span>
        </div>
    } else
    {
        <div class="meta br-red">
            <i class="fa fa-calendar-o"></i> @Html.DisplayFor(modelItem => Model.Date) <span class="pull-right"></span>
        </div>
    }       

    <!-- Thumbnail -->
    <div class="bthumb">
        <img src=@Model.Image alt=" " class="img-responsive" />
    </div>
    <!--Paragraph -->
    <p>@Html.Raw(Model.PostBody)</p>
</div>