@model IEnumerable<KLFBlog.Models.BlogPostViewModel>
@{
    ViewBag.Title = "Blog Posts";
}

<div class="blog br-white black">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <!-- Posts -->
                <div class="posts" ng-controller="PostController">
                    @foreach (KLFBlog.Models.BlogPostViewModel BlogPost in Model)
                    {
                        @Html.Partial("_Posts", BlogPost)
                    }
                </div>
            </div>
            @Html.Partial("_SideBar")
        </div>
    </div>
</div>