@model IEnumerable<KLFBlog.Models.BlogPostViewModel>
@{
    ViewBag.Title = "Blog Posts";
}

<form method="get" action="@Url.Action("Posts")"
      data-klf-ajax="true" data-kyle-targe="#postList">
    <input type="search" name="searchTerm" data-klf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search Titles" />
</form>

@Html.Partial("_Posts", Model)
